<div class="container m-3">
  <div class="container m-2">
    <h1>Stupid Coach</h1>
    <div class="container p-2" >
      <form action="/answer" data-turbo="false">
        <label class="form-label" for="question">Your question</label>
        <input type="text" class="form-control" id="question" name="your_message">
        <input class="btn btn-dark m-2" type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
